$theme-color: #fbfaf7;
$dark-theme: rgb(33, 37, 41);
$dark-heading-color: linear-gradient(to right, #00e676, #2196f3, #9c27b0);
$buttonPrimary:black;
$buttonSecondary:#ecebe8;
$buttonPrimaryHover:#000000cf;
$buttonSecondaryHover:#ecebe899;
$darkButtonPrimary:#2196f3;
$darkButtonSecondary:#2196f3;


