.cart-card {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 10px;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.card_items {
    display: flex;
    gap: 40px;
}

.cart-card .image {
    background-color: #eaeae9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.cart-card .image img {
    width: 112px;
}

.bag-items {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-top: 30px;
}

.bag-items .first {
    width: 60%;
}

.cart-card h6 {
    font-size: 20px;
    margin: 0;
    /* margin: 20px 0; */
}

.cart-card .quantity {
    margin: 20px 0;
    display: flex;
    gap: 5px;
}

.cart-card .quantity>div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.cart-card .quantity i {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    padding: 2px 2px;
    font-size: 13px;
    cursor: pointer;
}

.cart-card .quantity .count {
    background-color: rgba(0, 0, 0, .075);
    padding: 3px 15px;
}




.cart-card .price {
    display: flex;
    flex-direction: column;
}

.cart-card .price span:last-child {
    text-decoration: line-through;
}

.cart-section .price-details {
    width: 40%;
}

.price-card {
    /* width: 100%; */
    /* display: flex;
    justify-content: space-between; */
    width: 35%;
    background-color: white;
    padding: 20px 40px;
    /* align-items: center; */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    position: fixed;

}

.price-card>div {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-card hr {
    margin: 20px 0;
}

.price-card button {
    color: white;
    border: 1px solid white;
    padding: 5px 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    transition: all 0.5s;
}

.price-card button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}



.last {
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

.last .rm-bag {
    color: black;
    border: 1px solid black;
    padding: 5px 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    transition: all 0.5s;
    width: 80%;
    height: 40px;
}

.last .rm-bag:hover {
    background-color: black;
    color: white;
}

.cartcardwrap .last .rm-bag {
    width: 100%;
}

.last .wishlist {
    font-size: 20px;
}