.product_container img {
    width: 100%;
    height: auto;
}

.product_container .crow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.product_container .contentx_ {
    padding: 10px 30px;
    background-color: white;
}

.product_container .col_ {
    background-color: rgba(0, 0, 0, .075);
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_container .col_ img {
    width: 400px;
}


.product_container h4 {
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0;
}

.product_container .ratings {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product_container .ratings .stars {
    display: flex;
    gap: 5px;
    font-size: 20px;
}

.product_container .ratings .stars i {
    color: #eab308;
}

.product_container .ratings span:last-child {
    color: #9ca3af;
}

.product_container h6 {
    margin: 20px 0;
}

.product_container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
}

.product_container ul li {
    color: #6b7280;
}

.product_container ul li span {
    color: black;
    font-weight: 500;
}

.product_container .actual-price {
    color: #D97706;
    font-size: 23px;
    font-weight: 600;
    display: inline-block;
    margin: 0 10px;
}

.product_container .cross-price {
    color: black;
    text-decoration: line-through;
}

.product_container .price {
    margin: 20px 0;
}

.product_container .btn-container_ {
    margin: 20px 0;
}

.product_container .btn-container_ {
    display: flex;
    gap: 10px;
}

.product_container .btn-container_ a {
    color: black;
    border: 1px solid black;
    padding: 5px 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product_container .btn-container_ a span {
    font-size: 15px;
}

.product_container .btn-container_ a.add-bag {
    background-color: black;
    color: white;
}