.footer {
    background-color: #020626;
    padding: 10px 10px;
    color: white;

    h5 {
        font-size: 20px;
        // margin-bottom: 20px;
        text-align: center;
        a{
            color: white;
        }
    }
}



// .footer>div p {
//     margin: 10px 0;
// }