.header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 66px;
    top: 0;
    /* background-color: #f4fafa; */
    box-shadow: 0 5px 3px #02062608;
    background-color: white;
    z-index: 999999999;
}

.nav_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}


.logo {}

.logo img {
    width: 40px;
    background-color: #fde047;
    /* padding: 2px; */
    border-radius: 50%;
    border: 2px solid #e5e7eb;
}

.items_ {
    display: flex;
    align-items: center;
    gap: 30px;
}

.explore_div {
    width: 50%;
}

.items_ button {
    border: transparent;
    background-color: #a16207;
    padding: 4px 10px;
    border-radius: 5px;
    color: white;
}

.items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.items li {
    position: relative;
}

.items li span {
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    text-align: center;
}

.items li i {
    border-radius: 50%;
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.items li i svg {
    font-size: 23px;
}

.items .wishlist {
    background-color: #e5e7eb;
    color: black;
}

.items .cart {
    background-color: #eab308;
    color: white;
}







.search-box {
    width: 35%;
}

.search-box form {
    padding: 6px 20px;

    border: 1px solid #e8e7e5;
    background-color: #e8e7e5;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input {
    background: transparent;
    outline: none;
    border: none;
    color: #9ca3af;
    font-size: 14px;
}

.search-box input::placeholder {
    color: #9ca3af;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}