.p-hero img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .product-section {
    .thead {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .drp {
        display: flex;
        gap: 20px;
  
        select,
        .r-sidebar {
          cursor: pointer;
          border: none;
          outline: none;
          box-shadow: 0 0 10px rgb(187 187 187 / 30%);
          background-color: white;
          padding: 4px 8px;
        }
  
        .r-sidebar {
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: center;
  
          .fill-rsidebar {
            background-color: black;
            color: white;
          }
        }
      }
    }
  
    .p-products {
      margin: 20px 0;
    }
  }
  
  .active-wishlist {
    svg {
      fill: red;
    }
  }
  
  .empty-state{
    padding: 40px 0;
    text-align: center;
   h5{
    font-size: 40px;
    font-weight: 600;
   }

  }
  .empty-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // height: calc(var(--viewPortHeight) - 62px);
    height: calc(100vh - calc(80px + 52px))
}