.hero-section {
    padding: 20px 0;
}

.hero-section .row {
    align-items: center;
}

.hero-section h1 {
    font-size: 90px;
    font-weight: 600;
    width: 60%;
}

.hero-section p {
    color: #515563;
}

.button_con {
    margin-top: 30px;
}

.button_con button {
    border: transparent;
    background-color: black;
    padding: 8px 10px;
    border-radius: 4px;
    color: white;
}

.button_con .explore-more {
    background-color: #ecebe8;
    color: black;
    margin-left: 8px;
}

.hero-section .img {
    width: 450px;
    margin-left: auto;
}

.hero-section .img img {
    width: 100%;
    height: auto;
    border-radius: 37px;
}