.pr-card-container {
    width: 95%;
    margin: auto;

}

.pr-cards {
    border: 2px solid rgba(0, 0, 0, .05);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
}

.pr-cards .image {
    background-color: #eaeae8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.pr-cards .image img {
    /* text-align: center; */
    width: 153px;
    height: auto;
}

.pr-cards .head,
.pr-cards .rating-div,
.pr-cards .rating-div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pr-cards .head {
    font-size: 20px;
}

.pr-cards .rating-div>div {
    gap: 5px;
}

.pr-cards .rating-div .rating-text {
    color: #9ca3af;
}

.pr-cards .rating-div .star {
    color: #eab308;
}

.pr-cards .rating-div .org-price {
    text-decoration: line-through;
}

.pr-cards .line {
    border: 1px solid #eaeae8;
}

.pr-cards .wishlist {
    cursor: pointer;
}