:root {
    --theme-color: #fbfaf7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--theme-color) !important;
    font-size: 16px;
    overflow-x: hidden;
    margin-top: 80px !important;
}

p {
    margin-bottom: 0 !important;
}

ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
}

.px {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pr {
    padding-left: 96px !important;
    padding-right: 96px !important;
}



/* @media (min-width: 1200px) {
    .container {
        max-width: 1020px !important;
    }
} */

.load-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}