.p-card {
    background-color: #ecebe8;
    /* width: 100%; */
    padding: 10px 12px;
    border-radius: 10px;
    padding-bottom: 0;
    height: 156px;
    cursor: pointer;
}

.p-card .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-card .heading>div {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: center;
    gap: 10px;
}

.p-card .heading>p {
    font-size: 16px;
    font-weight: 600;
}

.p-card .price {
    font-size: 16px;
    font-weight: 600;
}

.p-card .plus-icon {
    padding: 10px 4px;
    border-radius: 5px;
    height: 6px;
    background-color: #b56c1b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.p-card .heading div {
    display: flex;

}

.p-card .category {
    /* text-align: end; */
    color: #4b5563;
    position: relative;
    left: 70%;
    display: inline;
    font-size: 16px;
}

.p-card .img {
    margin: auto;
    text-align: center;
}

.p-card .img img {

    /* width: 120px;
    height: auto; */
    /* height: 60px; */
    width: 128px;
    height: 64px;
    /* width: 100%; */
    /* height: 50%; */
    object-fit: cover;
}