.empty-cart {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    font-family: 'Maison Neue';
    font-weight: 300;
}

.empty-cart svg {
    max-width: 60%;
    padding: 5rem 3rem;
}

.empty-cart svg #oval,
svg #plus,
svg #diamond,
svg #bubble-rounded {
    animation: plopp 4s ease-out infinite;
}

// .empty-cart svg #oval:nth-child(1),
// .empty-cart svg #plus:nth-child(2),
// .empty-cart svg #diamond:nth-child(3),
// .empty-cart svg #bubble-rounded:nth-child(4),
// .empty-cart svg #oval:nth-child(5),
// .empty-cart svg #plus:nth-child(6),
// .empty-cart svg #diamond:nth-child(7),
// .empty-cart svg #bubble-rounded:nth-child(8),
// .empty-cart svg #oval:nth-child(9),
// .empty-cart svg #plus:nth-child(10),
// .empty-cart svg #diamond:nth-child(11),
// .empty-cart svg #bubble-rounded:nth-child(12),
// .empty-cart svg #oval:nth-child(13),
// .empty-cart svg #plus:nth-child(14),
// .empty-cart svg #diamond:nth-child(15),
// .empty-cart svg #bubble-rounded:nth-child(16) {
//     animation-delay: -240ms * (i - 1);
// }

.empty-cart svg #bg-line:nth-child(2) {
    fill-opacity: 0.3;
}

.empty-cart svg #bg-line:nth-child(3) {
    fill-opacity: 0.4;
}

@keyframes plopp {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, -10px);
        opacity: 0;
    }
}

.empty-cart h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.empty-cart p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    line-height: 24px;
    max-width: 80%;
    margin: 1.25rem auto 0 auto;
}